[Unit]
Description=Input Proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
ExecStart=/data/input_proxy/input_proxy.py -c /data/input_proxy/configs/dev/ -g /data/input_proxy/configs/global-dev.yaml -v

[Install]
WantedBy=multi-user.target